* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navi {
    display: flex;
    margin-left: -10px;
}

.navi-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.navi-magazin {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #d53835;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 50px;
}

.navi-magazin svg {
    transform: scale(1.6);
    fill: white;
    width: 30px;
}

.navi-search {
    margin: 50px 0px 0px 0px;
}

.navi-search input[type="text"] {
    padding: 17.5px;
    background-color: #ebebeb;
}

.navi-search input::placeholder {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 23px;
    color: rgba(128, 128, 128, 0.575);

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navi-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0px 0px 15px;
}

.btn {
    padding: 17px;
    background: #d53835;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.562);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.popup {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.popup h2 {
    margin-top: 0;
}

.popup ul {
    list-style: none;
    padding: 0;
}

.popup li {
    margin: 10px 0;
    background-color: #d53835;
    width: fit-content;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 75px;
    align-items: center;
    justify-content: center;
}

.popup a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;

    transition: all 0.3s;
}

.popup a:active{
    color: #dc2626;
    background-color: white;
    transform: scale(1.2);
}

.close {
    margin-top: 15px;
    padding: 8px 12px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px dashed black;
    border-radius: 6px;
    cursor: pointer;
}

.mostrar {
    display: flex;
}

